<!DOCTYPE html>
<html>
<head>
    <title>Salle</title>
</head>
<body>
<h1>Salle {{ numero }}</h1>
<body>
<img src="/images/velo.jpeg"/>
<h1>Salle {{ numero }}</h1>
<p>lien vers <a class="pure-button" href="{{ path('salle_tp_afficher', { 'numero': numero +
        1 }) }}">
        la suivante</a></p>
<p>lien vers <a class="pure-button" href="{{ path('salle_tp_accueil') }}">l'accueil</a></p>
</body>
</html>